<a class="btn btn-success mb-3" routerLink="/admin-space/candidats/add"
  >Ajouter un candidat</a
>

<table class="table table-striped">
  <thead>
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
      <th scope="col">Éditer</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidat of candidats; trackBy: trackById">
      <th scope="row">{{ candidat.id }}</th>
      <td>{{ candidat.nom }}</td>
      <td>{{ candidat.prenom }}</td>
      <td>{{ candidat.email }}</td>
      <td>
        <a
          class="btn btn-primary"
          [routerLink]="['/admin-space/candidats/edit', candidat.id]"
          >Éditer</a
        >
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteCandidat(candidat.id)">
          Supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>
