.navbar {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
}

.navbar-brand {
  color: #007bff !important;
}

.nav-link {
  color: #555 !important;
}

.nav-link.active {
  color: #007bff !important;
  font-weight: bold;
  border-bottom: 2px solid #007bff;
}
